<div class="w-full p-4">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.non_field_error %}
            {% for error in form.non_field_errors %}
                <span>{{error}}</span>
            {% endfor %}
        {% endif %}
        {% for field in form %}
            <div>
                <label>{{field.label}}</label>
                <div>
                    {{field}}
                </div>
            </div>
        {% endfor %}
        <button class="submit-btn">{{cta}}</button>
    </form>
</div>