<!-- 게시물 작성자 등을 포함한 개별 포스트 카드 전체 -->
{% load on_favs %}
{% on_favs post as on_favs_boolean %}

<div class="w-full h-96 mt-14 mb-5 flex flex-col border-2 border-gray-300 border-opacity-60">
    <div class="w-full h-10 flex justify-between mt-3 mb-10 px-3">
        <div>
            {% include 'mixins/user_avatar.html' with avatar=post.user.get_avatar %}
            <a href="{% url 'users:user' post.user.pk %}">
                <span class="h-full font-bold inline-block align-middle">{{post.user.username}}</span>
            </a>
        </div>
        <div>
            {% include 'mixins/follow_button.html' with post_user=post.user %}
        </div>
    </div>
    {% include 'mixins/post_photo.html' with photo=post.photo.url %}
    <div class="container w-full h-36 flex flex-col justify-between px-3 py-1">
        <div class="w-full flex justify-between">
            <span>{{post.description}}</span>
            <a href="{% url 'favs:toggle' post.pk %}">
                <span 
                    class="text-3xl text-black hover:text-pink-300 {% if on_favs_boolean %}text-red-400{% endif %}">
                    <i class="fas fa-heart fa-xl"></i>
                </span>
            </a>
        </div>
        <span>{{post.get_nice_count}}명의 유저가 이 게시물을 좋아합니다.</span>
    </div>  
</div>