{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static 'css/styles.css' %}" />
    <link rel='stylesheet' href="{% static 'css/font-style.css' %}" />    
    <title>{% block page_title %}{% endblock %}| Westa</title>
</head>
<body class="max-w-full">
    {% include 'partials/header.html' %}
    {% block content %}{% endblock %}
    {% include 'partials/footer.html' %}
</body>
<script src="https://kit.fontawesome.com/6ade36b36a.js" crossorigin="anonymous"></script>
</html>